<!-- BEGIN PAGE TOOLBAR -->
<div class="page-toolbar">
    <div id="dashboard-report-range" data-display-range="0" class="pull-right tooltips btn btn-fit-height green" data-placement="left" data-original-title="Change dashboard date range">
        <i class="icon-calendar"></i>&nbsp;
        <span class="thin uppercase hidden-xs"></span>&nbsp;
        <i class="fa fa-angle-down"></i>
    </div>
    @await Component.InvokeAsync(nameof(ThemePanel))
</div>
<!-- END PAGE TOOLBAR -->
