
@{
    ViewData["Title"] = "Color Library";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Color Library
            <small>color variants for metronic and bootstrap custom elements and components</small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
    <partial name="_ToolBar" />
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">UI Features</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="note note-info">
            <h4 class="block">UI Collor Collection</h4>
            <p> Just apply the color class(e.g: <code>.blue-madison</code>) to Metronic portlets, buttons, statistic blocks, tiles and other containers. </p>
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("white","ffffff")' />
            <partial name="_ColorPartial" model='new ColorDto("default","e1e5ec")' />
            <partial name="_ColorPartial" model='new ColorDto("dark","2f353b")' />
            <partial name="_ColorPartial" model='new ColorDto("blue","3598dc")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-madison","578ebe")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-chambray","2C3E50")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("blue-ebonyclay","22313F")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-hoki","67809F")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-steel","4B77BE")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-soft","4c87b9")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-dark","5e738b")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-sharp","5C9BD1")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("blue-oleo","94A0B2")' />
            <partial name="_ColorPartial" model='new ColorDto("green","32c5d2")' />
            <partial name="_ColorPartial" model='new ColorDto("green-meadow","1BBC9B")' />
            <partial name="_ColorPartial" model='new ColorDto("green-seagreen","1BA39C")' />
            <partial name="_ColorPartial" model='new ColorDto("green-turquoise","36D7B7")' />
            <partial name="_ColorPartial" model='new ColorDto("green-haze","44b6ae")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("green-jungle","26C281")' />
            <partial name="_ColorPartial" model='new ColorDto("green-soft","3faba4")' />
            <partial name="_ColorPartial" model='new ColorDto("green-dark","4DB3A2")' />
            <partial name="_ColorPartial" model='new ColorDto("green-sharp","2ab4c0")' />
            <partial name="_ColorPartial" model='new ColorDto("green-steel","29b4b6")' />
            <partial name="_ColorPartial" model='new ColorDto("grey","E5E5E5")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("grey-steel","e9edef")' />
            <partial name="_ColorPartial" model='new ColorDto("grey-cararra","fafafa")' />
            <partial name="_ColorPartial" model='new ColorDto("grey-gallery","555555")' />
            <partial name="_ColorPartial" model='new ColorDto("grey-cascade","95A5A6")' />
            <partial name="_ColorPartial" model='new ColorDto("grey-silver","BFBFBF")' />
            <partial name="_ColorPartial" model='new ColorDto("grey-salsa","ACB5C3")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("grey-salt","bfcad1")' />
            <partial name="_ColorPartial" model='new ColorDto("grey-mint","525e64")' />
            <partial name="_ColorPartial" model='new ColorDto("red","e7505a")' />
            <partial name="_ColorPartial" model='new ColorDto("red-pink","E08283")' />
            <partial name="_ColorPartial" model='new ColorDto("red-sunglo","E26A6A")' />
            <partial name="_ColorPartial" model='new ColorDto("red-intense","e35b5a")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("red-thunderbird","D91E18")' />
            <partial name="_ColorPartial" model='new ColorDto("red-flamingo","EF4836")' />
            <partial name="_ColorPartial" model='new ColorDto("red-soft","d05454")' />
            <partial name="_ColorPartial" model='new ColorDto("red-haze","f36a5a")' />
            <partial name="_ColorPartial" model='new ColorDto("red-mint","e43a45")' />
            <partial name="_ColorPartial" model='new ColorDto("yellow","c49f47")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("yellow-gold","E87E04")' />
            <partial name="_ColorPartial" model='new ColorDto("yellow-casablanca","f2784b")' />
            <partial name="_ColorPartial" model='new ColorDto("yellow-crusta","2f353b")' />
            <partial name="_ColorPartial" model='new ColorDto("yellow-lemon","F7CA18")' />
            <partial name="_ColorPartial" model='new ColorDto("yellow-saffron","F4D03F")' />
            <partial name="_ColorPartial" model='new ColorDto("yellow-soft","c8d046")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("yellow-haze","c5bf66")' />
            <partial name="_ColorPartial" model='new ColorDto("yellow-mint","c5b96b")' />
            <partial name="_ColorPartial" model='new ColorDto("purple","8E44AD")' />
            <partial name="_ColorPartial" model='new ColorDto("purple-plum","8775a7")' />
            <partial name="_ColorPartial" model='new ColorDto("purple-medium","BF55EC")' />
            <partial name="_ColorPartial" model='new ColorDto("purple-studio","8E44AD")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("purple-wisteria","9B59B6")' />
            <partial name="_ColorPartial" model='new ColorDto("purple-seance","9A12B3")' />
            <partial name="_ColorPartial" model='new ColorDto("purple","8E44AD")' />
            <partial name="_ColorPartial" model='new ColorDto("purple-intense","8775a7")' />
            <partial name="_ColorPartial" model='new ColorDto("purple-sharp","BF55EC")' />
            <partial name="_ColorPartial" model='new ColorDto("purple-soft","8877a9")' />
        </div>
    </div>
</div>