
@{
    ViewData["Title"] = "Color Library";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Color Library
            <small>color variants for metronic and bootstrap custom elements and components</small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
    <partial name="_ToolBar" />
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">UI Features</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="note note-info">
            <h4 class="block">UI Collor Collection</h4>
            <p> Just apply the color class(e.g: <code>.blue-madison</code>) to Metronic portlets, buttons, statistic blocks, tiles and other containers. </p>
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("white","ffffff")' />
            <partial name="_ColorPartial" model='new ColorDto("default","e1e5ec")' />
            <partial name="_ColorPartial" model='new ColorDto("dark","2f353b")' />
            <partial name="_ColorPartial" model='new ColorDto("blue","3598dc")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-madison","578ebe")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-chambray","2C3E50")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("blue-ebonyclay","22313F")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-hoki","67809F")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-steel","4B77BE")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-soft","4c87b9")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-dark","5e738b")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-sharp","5C9BD1")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("blue-oleo","94A0B2")' />
            <partial name="_ColorPartial" model='new ColorDto("green","32c5d2")' />
            <partial name="_ColorPartial" model='new ColorDto("green-meadow","1BBC9B")' />
            <partial name="_ColorPartial" model='new ColorDto("green-seagreen","1BA39C")' />
            <partial name="_ColorPartial" model='new ColorDto("green-turquoise","36D7B7")' />
            <partial name="_ColorPartial" model='new ColorDto("green-haze","44b6ae")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("blue-oleo","94A0B2")' />
            <partial name="_ColorPartial" model='new ColorDto("default","e1e5ec")' />
            <partial name="_ColorPartial" model='new ColorDto("dark","2f353b")' />
            <partial name="_ColorPartial" model='new ColorDto("blue","3598dc")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-madison","578ebe")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-chambray","2C3E50")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("white","ffffff")' />
            <partial name="_ColorPartial" model='new ColorDto("default","e1e5ec")' />
            <partial name="_ColorPartial" model='new ColorDto("dark","2f353b")' />
            <partial name="_ColorPartial" model='new ColorDto("blue","3598dc")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-madison","578ebe")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-chambray","2C3E50")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("white","ffffff")' />
            <partial name="_ColorPartial" model='new ColorDto("default","e1e5ec")' />
            <partial name="_ColorPartial" model='new ColorDto("dark","2f353b")' />
            <partial name="_ColorPartial" model='new ColorDto("blue","3598dc")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-madison","578ebe")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-chambray","2C3E50")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("white","ffffff")' />
            <partial name="_ColorPartial" model='new ColorDto("default","e1e5ec")' />
            <partial name="_ColorPartial" model='new ColorDto("dark","2f353b")' />
            <partial name="_ColorPartial" model='new ColorDto("blue","3598dc")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-madison","578ebe")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-chambray","2C3E50")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("white","ffffff")' />
            <partial name="_ColorPartial" model='new ColorDto("default","e1e5ec")' />
            <partial name="_ColorPartial" model='new ColorDto("dark","2f353b")' />
            <partial name="_ColorPartial" model='new ColorDto("blue","3598dc")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-madison","578ebe")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-chambray","2C3E50")' />
        </div>
        <div class="row">
            <partial name="_ColorPartial" model='new ColorDto("white","ffffff")' />
            <partial name="_ColorPartial" model='new ColorDto("default","e1e5ec")' />
            <partial name="_ColorPartial" model='new ColorDto("dark","2f353b")' />
            <partial name="_ColorPartial" model='new ColorDto("blue","3598dc")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-madison","578ebe")' />
            <partial name="_ColorPartial" model='new ColorDto("blue-chambray","2C3E50")' />
        </div>
    </div>
</div>