
@{
    ViewData["Title"] = "Page Progress Bar Style 3";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Page Progress Bar Style 3
            <small>page progress bar style 3</small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">UI Features</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Page Progress Bar</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="note note-success note-bordered">
            <h4 class="block">Pace</h4>
            <p>
                An automatic web page progress bar. Pace will automatically monitor your Ajax requests, event loop lag, document ready state and elements on your page to decide on the progress.For more info check the plugin's documentation
                <a href="http://github.hubspot.com/pace" class="btn btn-outline red" target="_blank"> documentation</a>
            </p>
        </div>
    </div>
</div>
<!-- END PAGE BASE CONTENT -->