
@{
    ViewData["Title"] = "Overlays";
}
<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Overlays
            <small>custom bootstrap overlay elements to be used on any container</small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Elements</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<!-- BEGIN : OVERLAY -->
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 1 - Default</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-1">
                                <img src="~/pages/img/page_general_search/01.jpg" />
                                <div class="mt-overlay">
                                    <ul class="mt-info">
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 1 - Scroll Up</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1 .mt-scroll-up</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-1 mt-scroll-up">
                                <img src="~/pages/img/page_general_search/01.jpg" />
                                <div class="mt-overlay">
                                    <ul class="mt-info">
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 1 - Scroll Down</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1 .mt-scroll-down</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-1 mt-scroll-down">
                                <img src="~/pages/img/page_general_search/01.jpg" />
                                <div class="mt-overlay">
                                    <ul class="mt-info">
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 1 - Scroll Left</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1 .mt-scroll-left</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-1 mt-scroll-left">
                                <img src="~/pages/img/page_general_search/01.jpg" />
                                <div class="mt-overlay">
                                    <ul class="mt-info">
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 1 - Scroll right</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1 .mt-scroll-right</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-1 mt-scroll-right">
                                <img src="~/pages/img/page_general_search/01.jpg" />
                                <div class="mt-overlay">
                                    <ul class="mt-info">
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 2 - Default</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-2</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-2">
                                <img src="~/pages/img/page_general_search/03.jpg" />
                                <div class="mt-overlay">
                                    <h2>Overlay Title</h2>
                                    <a class="mt-info btn default btn-outline" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 2 - Grayscale</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-2 mt-overlay-2-grey</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-2 mt-overlay-2-grey">
                                <img src="~/pages/img/page_general_search/03.jpg" />
                                <div class="mt-overlay">
                                    <h2>Overlay Title</h2>
                                    <a class="mt-info btn default btn-outline" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 2 - Icons</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-2 mt-overlay-2-icons</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-2 mt-overlay-2-icons mt-overlay-2-grey">
                                <img src="~/pages/img/page_general_search/03.jpg" />
                                <div class="mt-overlay">
                                    <h2>Overlay Title</h2>
                                    <ul class="mt-info">
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 3</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-3</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-3">
                                <img src="~/pages/img/page_general_search/05.jpg" />
                                <div class="mt-overlay">
                                    <h2>Overlay Title</h2>
                                    <a class="mt-info" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 3 - Icons</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-3 mt-overlay-3-icons</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-3 mt-overlay-3-icons">
                                <img src="~/pages/img/page_general_search/05.jpg" />
                                <div class="mt-overlay">
                                    <h2>Overlay Title</h2>
                                    <ul class="mt-info">
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 4</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-4</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-4">
                                <img src="~/pages/img/page_general_search/06.jpg" />
                                <div class="mt-overlay">
                                    <h2>Overlay Title</h2>
                                    <a class="mt-info btn default btn-outline" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 4 - Icons</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-4 mt-overlay-4-icons</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-4 mt-overlay-4-icons">
                                <img src="~/pages/img/page_general_search/06.jpg" />
                                <div class="mt-overlay">
                                    <h2>Overlay Title</h2>
                                    <ul class="mt-info">
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 5</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-5</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-5">
                                <img src="~/pages/img/background/12.jpg" />
                                <div class="mt-overlay">
                                    <h2>Overlay Title</h2>
                                    <p>
                                        <a class="uppercase" href="#">Learn More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Overlay 6</span>
                    <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-6</pre> class to your element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-6">
                                <img src="~/pages/img/page_general_search/3.jpg" />
                                <div class="mt-overlay">
                                    <h2>Overlay Title</h2>
                                    <p>
                                        <a class="mt-info uppercase btn default btn-outline" href="#">Learn More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END : OVERLAY -->
<!-- END PAGE BASE CONTENT -->