
@{
    ViewData["Title"] = "Ribbons";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Ribbons
            <small>custom bootstrap ribbon elements to be used on any container</small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Elements</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<!-- BEGIN : RIBBONS -->
<div class="row">
    <div class="col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Default</span>
                    <div class="caption-desc font-grey-cascade">
                        Default Ribbon element style. Activate by adding <pre class="mt-code">.ribbon</pre> class to your element. The <pre class="mt-code">.ribbon</pre> element must be placed within the <pre class="mt-code">.mt-element-ribbon</pre>                                            parent element to work.
                        <br /> Change your ribbon colors by adding one of these classes to your <pre class="mt-code">.ribbon</pre> element.
                        <br /> <pre class="mt-code">.ribbon-color-default</pre>, <pre class="mt-code">.ribbon-color-primary</pre>, <pre class="mt-code">.ribbon-color-info</pre>, <pre class="mt-code">.ribbon-color-success</pre>, <pre class="mt-code">.ribbon-color-danger</pre>,
                        <pre class="mt-code">.ribbon-color-warning</pre>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-color-default uppercase">Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-color-primary uppercase">Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-color-info uppercase">Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-color-success uppercase">Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-color-danger uppercase ">Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-color-warning uppercase ">Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Align Right</span>
                    <div class="caption-desc font-grey-cascade"> Add <pre class="mt-code">.ribbon-right</pre> to your <pre class="mt-code">.ribbon</pre> element to change the ribbon alignement to right. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-color-default uppercase">Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-color-primary uppercase">Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-color-info uppercase">Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-color-success uppercase">Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-color-danger uppercase ">Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-color-warning uppercase ">Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Vertical Ribbon</span>
                    <div class="caption-desc font-grey-cascade"> Add <pre class="mt-code">.ribbon-vertical-left</pre> or <pre class="mt-code">.ribbon-vertical-right</pre> to your <pre class="mt-code">.ribbon</pre> element to change the ribbon orientation to vertical. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-vertical-left ribbon-color-default uppercase">
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-vertical-left ribbon-color-primary uppercase">
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-vertical-left ribbon-color-info uppercase">
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-vertical-right ribbon-color-success uppercase">
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-vertical-right ribbon-color-danger uppercase ">
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-vertical-right ribbon-color-warning uppercase ">
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Shadows</span>
                    <div class="caption-desc font-grey-cascade"> Add <pre class="mt-code">.ribbon-shadow</pre> to your <pre class="mt-code">.ribbon</pre> element to add shadow. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-shadow ribbon-color-success uppercase">Shadow Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-shadow ribbon-color-danger uppercase">Shadow Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Rounded Corners</span>
                    <div class="caption-desc font-grey-cascade"> Add <pre class="mt-code">.ribbon-round</pre> to your <pre class="mt-code">.ribbon</pre> element to add shadow. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-round ribbon-color-primary uppercase">Rounded Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-round ribbon-color-info ribbon-shadow uppercase">Rounded Ribbon</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Bordered</span>
                    <div class="caption-desc font-grey-cascade"> Add <pre class="mt-code">.ribbon-border</pre> to your <pre class="mt-code">.ribbon</pre> element to add border. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-border ribbon-color-primary uppercase">Ribbon Border</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-border ribbon-shadow ribbon-color-success uppercase">Ribbon Border</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Dashed Borders</span>
                    <div class="caption-desc font-grey-cascade"> Add <pre class="mt-code">.ribbon-border-dash</pre> to your <pre class="mt-code">.ribbon</pre> element to add shadow. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-round ribbon-border-dash ribbon-color-danger uppercase">Ribbon Border</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-vertical-right ribbon-border-dash ribbon-color-info ribbon-round ribbon-shadow uppercase">
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Borders - Vertical</span>
                    <div class="caption-desc font-grey-cascade"> Add <pre class="mt-code">.ribbon-border-vert</pre> or <pre class="mt-code">.ribbon-border-dash-vert</pre> to your <pre class="mt-code">.ribbon</pre> element to add border. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-vertical-left ribbon-border-vert ribbon-color-warning uppercase">
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-vertical-right ribbon-border-dash-vert ribbon-shadow ribbon-color-default uppercase">
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Borders - Horizontal</span>
                    <div class="caption-desc font-grey-cascade"> Add <pre class="mt-code">.ribbon-border-hor</pre> or <pre class="mt-code">.ribbon-border-dash-hor</pre> to your <pre class="mt-code">.ribbon</pre> element to add border. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-round ribbon-border-dash-hor ribbon-color-default uppercase">Ribbon Border</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-border-hor ribbon-color-success ribbon-round ribbon-shadow uppercase">Ribbon Border</div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Clipped Ribbon</span>
                    <div class="caption-desc font-grey-cascade">
                        Add <pre class="mt-code">.ribbon-clip</pre> to your <pre class="mt-code">.ribbon</pre> and <pre class="mt-code">.ribbon-sub</pre> element to add a bookmark tail. Please note that this option does work with Vertical
                        ribbons
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-danger uppercase">
                                <div class="ribbon-sub ribbon-clip"></div> Clipped Ribbon
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-clip ribbon-shadow ribbon-round ribbon-border-dash-hor ribbon-color-info uppercase">
                                <div class="ribbon-sub ribbon-clip ribbon-right"></div> Clipped Ribbon
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Bookmark Ribbon</span>
                    <div class="caption-desc font-grey-cascade"> Add <pre class="mt-code">.ribbon-bookmark</pre> to your <pre class="mt-code">.ribbon-sub</pre> element to add a bookmark tail. Please note that this option does work with Vertical ribbons </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-vertical-left ribbon-color-warning uppercase">
                                <div class="ribbon-sub ribbon-bookmark"></div>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-right ribbon-vertical-right ribbon-shadow ribbon-border-dash-vert ribbon-color-primary uppercase">
                                <div class="ribbon-sub ribbon-bookmark"></div>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="portlet mt-element-ribbon light portlet-fit bordered">
            <div class="ribbon ribbon-vertical-right ribbon-shadow ribbon-color-primary uppercase">
                <div class="ribbon-sub ribbon-bookmark"></div>
                <i class="fa fa-star"></i>
            </div>
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Ribbon on Portlet</span>
                </div>
            </div>
            <div class="portlet-body"> Visual demo for ribbons on Portlets. Duis mollis, est non commodo luctus, nisi erat porttitor ligula. </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="portlet mt-element-ribbon light portlet-fit bordered">
            <div class="ribbon ribbon-right ribbon-clip ribbon-shadow ribbon-border-dash-hor ribbon-color-success uppercase">
                <div class="ribbon-sub ribbon-clip ribbon-right"></div> Portlet Ribbon
            </div>
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Ribbon on Portlet</span>
                </div>
            </div>
            <div class="portlet-body"> Visual demo for ribbons on Portlets. Duis mollis, est non commodo luctus, nisi erat porttitor ligula. </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="portlet mt-element-ribbon light portlet-fit bordered">
            <div class="ribbon ribbon-right ribbon-shadow ribbon-round ribbon-border-dash-hor ribbon-color-danger uppercase"> Portlet Ribbon </div>
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Ribbon on Portlet</span>
                </div>
            </div>
            <div class="portlet-body"> Visual demo for ribbons on Portlets. Duis mollis, est non commodo luctus, nisi erat porttitor ligula. </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="portlet light portlet-fit bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-layers font-green"></i>
                <span class="caption-subject font-green bold uppercase">Multiple Ribbons</span>
                <div class="caption-desc font-grey-cascade"> Add multiple ribbons by adding more <pre class="mt-code">.ribbon</pre> elements to your main containing element. </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-element-ribbon bg-grey-steel">
                        <div class="ribbon ribbon-right ribbon-vertical-right ribbon-shadow ribbon-border-dash-vert ribbon-color-primary uppercase">
                            <div class="ribbon-sub ribbon-bookmark"></div>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="ribbon ribbon-right ribbon-vertical-right ribbon-shadow ribbon-border-dash-vert ribbon-color-default uppercase">
                            <div class="ribbon-sub ribbon-bookmark"></div>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-danger ribbon-border-dash-hor uppercase">
                            <div class="ribbon-sub ribbon-clip"></div> Clipped Ribbon 1
                        </div>
                        <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-warning uppercase">
                            <div class="ribbon-sub ribbon-clip"></div> Clipped Ribbon 2
                        </div>
                        <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-element-ribbon bg-grey-steel">
                        <div class="ribbon ribbon-shadow ribbon-color-success uppercase">Shadow Ribbon</div>
                        <div class="ribbon ribbon-right ribbon-shadow ribbon-round ribbon-color-primary uppercase">Rounded Ribbon</div>
                        <div class="ribbon ribbon-border-dash ribbon-shadow ribbon-color-default uppercase">Ribbon Bordered</div>
                        <div class="ribbon ribbon-right ribbon-shadow ribbon-border-dash ribbon-round ribbon-color-danger uppercase">Bordered Ribbon</div>
                        <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-element-ribbon bg-grey-steel">
                        <div class="ribbon ribbon-vertical-left ribbon-border-dash-vert ribbon-color-default uppercase">
                            <div class="ribbon-sub ribbon-bookmark"></div>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="ribbon ribbon-vertical-left ribbon-border-dash-vert ribbon-color-danger uppercase">
                            <div class="ribbon-sub ribbon-bookmark"></div>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="ribbon ribbon-vertical-left ribbon-border-dash-vert ribbon-color-info uppercase">
                            <div class="ribbon-sub ribbon-bookmark"></div>
                            <i class="fa fa-map"></i>
                        </div>
                        <div class="ribbon ribbon-right ribbon-vertical-right ribbon-border-dash-vert ribbon-color-primary uppercase">
                            <div class="ribbon-sub ribbon-bookmark"></div>
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div class="ribbon ribbon-right ribbon-vertical-right ribbon-border-dash-vert ribbon-color-success uppercase">
                            <div class="ribbon-sub ribbon-bookmark"></div>
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="ribbon ribbon-right ribbon-vertical-right ribbon-border-dash-vert ribbon-color-warning uppercase">
                            <div class="ribbon-sub ribbon-bookmark"></div>
                            <i class="fa fa-instagram"></i>
                        </div>
                        <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END : RIBBONS -->
<!-- END PAGE BASE CONTENT -->