
@{
    ViewData["Title"] = "Boxed Page Layout";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Boxed Page Layout
            <small>boxed page layout</small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Page Layouts</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="note note-info">
    <p> Boxed page layout. </p>
</div>
<!-- END PAGE BASE CONTENT -->

@section scripts{ 
<script>
    $(function () {
        $('body').addClass('page-boxed');
    })
</script>
}