
@{
    ViewData["Title"] = "Sidebar Reversed";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Sidebar Reversed
            <small>reversed sidebar option</small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Sidebar Layouts</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="note note-info">
    <p> Reversed(opposite) sidebar menu layout. </p>
</div>
<!-- END PAGE BASE CONTENT -->

@section scripts{
    <script>
    $(function () {
        $('body').addClass('page-sidebar-reversed');
    })
    </script>
}