
@{
    ViewData["Title"] = "Dropzone File Upload";
}
@section links{
    <link href="~/global/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
    <link href="~/global/plugins/dropzone/basic.min.css" rel="stylesheet" type="text/css" />
}
<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Dropzone File Upload
            <small>amazing dropzone file upload sample</small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Form Stuff</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="m-heading-1 border-green m-bordered">
            <h3>Dropzone</h3>
            <p> DropzoneJS is an open source library that provides drag’n’drop file uploads with image previews. It’s lightweight, doesn’t depend on any other library (like jQuery) and is highly customizable. </p>
            <p>
                For more info please check out
                <a class="btn red btn-outline" href="http://www.dropzonejs.com/" target="_blank">the official documentation</a>
            </p>
            <p>
                <span class="label label-danger">NOTE:</span> &nbsp; This plugins works only on Latest Chrome, Firefox, Safari, Opera & Internet Explorer 10.
            </p>
        </div>
        <form asp-action="Upload" class="dropzone dropzone-file-area" id="my-dropzone" style="width: 500px; margin-top: 50px;">
            <h3 class="sbold">Drop files here or click to upload</h3>
            <p> This is just a demo dropzone. Selected files are not actually uploaded. </p>
        </form>
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
@section scripts{
    <script src="~/global/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>
    <script src="~/pages/scripts/form-dropzone.js"></script>
}