@model DashboardSummary
<div class="col-md-3">
    <!-- BEGIN WIDGET THUMB -->
    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
        <h4 class="widget-thumb-heading">Biggest Purchase</h4>
        <div class="widget-thumb-wrap">
            <i class="widget-thumb-icon bg-purple icon-screen-desktop"></i>
            <div class="widget-thumb-body">
                <span class="widget-thumb-subtitle">USD</span>
                <span class="widget-thumb-body-stat" data-counter="counterup" data-value="@Model.Biggest">0</span>
            </div>
        </div>
    </div>
    <!-- END WIDGET THUMB -->
</div>