@model DashboardSummary
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
        <div class="visual">
            <i class="fa fa-globe"></i>
        </div>
        <div class="details">
            <div class="number">
                +
                <span data-counter="counterup" data-value="@Model.Popularity"></span>%
            </div>
            <div class="desc"> Brand Popularity </div>
        </div>
    </a>
</div>
