<li class="nav-item">
    <a href="javascript:;" class="nav-link disabled-link">
        <i class="icon-folder"></i>
        <span class="title disable-target">Disable Menu Link</span>
        <span class="arrow disable-target"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item">
            <a href="javascript:;" class="nav-link disabled-link">
                <span class="disable-target">
                    <i class="icon-settings"></i> Item 1
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link link-toggle">
                <i class="icon-globe"></i> Item 2
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link disabled-link">
                        <span class="disable-target">
                            <i class="icon-tag"></i> Sample Link 1
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="icon-pencil"></i> Sample Link 3
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link disabled-link">
                        <span class="disable-target">
                            <i class="icon-graph"></i> Sample Link 3
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="icon-bar-chart"></i> Item 3
            </a>
        </li>
    </ul>
</li>
